#ID_card {
    background-color: gold;
    color: darkblue;
}

button {
    background-color:darkslateblue;
    color: goldenrod;
    width: 80px;
    height: 30px;
    font-weight: lighter;
    font-weight: smaller;
    text-size-adjust: smaller;
    font-size: 10px;
}
#ID_card h3 {
    display: flex;
    justify-content: space-between;
    font-size: larger;
    font-weight: bolder;
}

h3 {
    text-align: center;
}