#Asshole {
    justify-content: left;
    display: flex;
    justify-content: space-between;

}

#Name {
    font-size: larger;
    font-weight: bolder;
}

#Age {
    font-size: larger;
    font-weight: bolder;
}

#Gender {
    font-size: larger;
    font-weight: bolder;
}

#Class {
    font-size: larger;
    font-weight: bolder;
}

#asshole {
    display: flex;
    justify-content: space-between;
}

d {
    color: gold;
    font-size: larger;
    font-weight: bolder;
}

h2 {
    font-weight: bolder;
    font-size: 20px;
    color: gold;
    text-transform: uppercase;
}

button {
    background-color: gold;
    padding: 7.5px 20px;
    border-radius: 9px;
    color: darkblue;
    cursor: pointer;
    font-weight: bolder;
    border: none;
    font-size: larger;
    /* Add a shadow to make it pop */
    box-shadow: 3px 3px 3px 3px goldenrod;
    cursor: pointer;
    transition: all 0.1s ease;
    sink: 8px;
}

button:hover {
    background-color: darkgoldenrod;
    cursor: pointer;
    color: navy;
    box-shadow: 3px 3px 3px 3px darkblue;
}

#Nicholas {
    background-color: rgb(9, 2, 125);
}

p {
    font-weight: smaller;
}

input {
    padding: 7.5px 20px;
    border-radius: 9px;
    border: none;
    font-size: larger;
    transition: all 0.1s ease;
    background-color: gold;
    width: 400px;
}